__pycache__/
*.py[cod]
*.log
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
media/
alembic/versions/__pycache__/
super-admin-panel/node_modules/
super-admin-panel/dist/
node_modules/
*.sqlite3



